@import 'https://fonts.googleapis.com/css?family=Rubik+One';

body{
    background-color:#000;
    color:#fff ;
}

.general{
    text-align: center;
}



h1:hover{
    background-color: #fff;
    color: #000;
    transition: 1s;
}



h6{
    text-align: center;
    margin:none;
    padding: none;
    
}

ul{
    list-style: none;
    

}

img{
    margin: 2em;
}
 

a{
    text-decoration:none;
    background-color: #000;
    color: white;
    font-size: 2em;
    
   
}


.resaltar:hover{
    background-color: #fff;
    color: black;
}

%test {
    position: absolute;
      content: '';
      transition: all .5s;
  }
  
  .boton { 
	display: inline-block; 
	padding: 20px 40px;
	color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	vertical-align: middle;
	font-family: 'Rubik One', sans-serif;
	text-decoration: none;
	font-size: 4vw;
	transition: all .5s;
	background-color: #fff;

	&::before {
    @extend %test;
		bottom: -15px;
		height: 15px;
		width: 100%;
		left: 8px;
		transform: skewX(45deg);
		background-color: darken(#fff, 20%);
	}

	&::after {
		@extend %test;
		right: -15px;
		height: 100%;
		width: 15px;
		bottom: -8px;
		transform: skewY(45deg);
		background-color: darken(#fff, 30%);
	}

	&:active {
		margin-left: 10px;
		margin-top: 10px;
		&::before {
			bottom: -5px;
			height: 5px;
			left: 3px;
		}
		
    &::after {
			right: -5px;
			width: 5px;
			bottom: -3px;
		}	
	}
